
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    title1{font-weight: 900;}
    
    .mobile-only{
      display:none;
    }

    .pc-only{
      display:none;
    }
    
    @media screen and (max-width: 1020px) {
      .mobile-only{
        display: block;
      }
    }

    @media screen and (min-width: 1021px) {
      .pc-only{
        display: block;
      }
    }
    
    html{
        scroll-behavior: smooth;
      }
    
      p{
        font-size: 20px;
        line-height: 24px;
      }
      
    
      .container{
        width: 100%;
      }
    
      .first-mobile-container{
        margin-top:30%;
      }
    
      .mobile-container{
        padding-top:10%;
        padding-bottom:10%;
        width: 100%;
      }

      .mdit{
        content:url("././sources/mdit.png");
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        padding: 20px;
      }
    
      .background1{
        background-image: url("././sources/background.png");
        height: 100%;
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: background-anim 40s ease-in-out infinite;
      }
    
      .background1-mobile{
        background-image: url("././sources/background.png");
        height: 100%;
        size: 120%;
    
        /* Center and scale the image nicely */
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        animation: background-anim 40s ease-in-out infinite;
        
      }
    
      .background2{
        background-image: linear-gradient(to bottom right, rgb(84, 192, 255), rgb(187, 0, 255));
        background-size: cover;
        height: 100%;
        padding-bottom: 10%;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .background3{
        background-image: linear-gradient(to bottom right,rgb(187, 0, 255), rgb(84, 192, 255));
        background-size: cover;
        height: 100%;
        padding-bottom: 10%;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .background3:focus{
        background-image: linear-gradient(to bottom right,rgb(187, 0, 255), rgb(84, 192, 255));
      }

      .background3-mobile{
        background-image: linear-gradient(to bottom right,rgb(187, 0, 255), rgb(84, 192, 255));
        background-size: cover;
        height: 100%;
        width: 100%;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .background3-mobile:focus{
        background-image: linear-gradient(to bottom right,rgb(187, 0, 255), rgb(84, 192, 255));
      }

      .background-coming-soon{
        background-color: rgb(222, 4, 255);
        background-image: linear-gradient(to bottom right, rgb(222, 4, 255), rgb(255, 201, 245));
        background-size: cover;
        padding-bottom: 10%;

        height: 1000px;
        
      }

      .background-coming-soon-mobile{
        background-color: rgb(222, 4, 255);
        background-image: linear-gradient(to bottom right, rgb(222, 4, 255), rgb(255, 201, 245));
        background-size: cover;
        padding-bottom: 10%;
        
      }

      .background2-mobile{
        background-image: linear-gradient(to bottom right, rgb(84, 192, 255), rgb(187, 0, 255));
        height: 100%;
        width: 100%;
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      .mobile-countdown-bar{
        background-color: rgb(0, 0, 0);
        color: white;
      } 
    
      .content-right{
        background-color: rgba(0, 0, 0, 0.002);
        box-sizing: content-box;
        margin-left: 26%;
        width: 69%;
        padding: 20px;
        border-radius: 15px;
        transition: background-color 0.8s, color 0.5s ,padding 0.5s;
      }
    
      .content-right:hover{
        background-color: #0000004b;
        color: white;
        padding: 28px;
      }

      .content-right-no-hover{
        background-color: rgba(0, 0, 0, 0.002);
        box-sizing: content-box;
        margin-left: 26%;
        width: 69%;
        padding: 20px;
        border-radius: 15px;
        transition: background-color 0.8s, color 0.5s ,padding 0.5s;
      }
    
      .content-mobile{
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.034);
        box-sizing: content-box;
        width: 80%;
        padding: 35px;
        border-radius: 15px;
      }
    
    
      .nav-bar{
        margin-left: 4%;
        margin-top: 13%;
        margin-bottom: auto;
        position: fixed;
      }
    
      body{
        height:100%;
        background-color: #000000;
      }
    
      .nav_menu{
        text-decoration:none;
        transition: color 0.2s, text-shadow 0.2s;
      }
    
      .nav_menu:hover{
        rotate: 5%;
        text-shadow: 5px 5px #000000ad;
        color: rgb(255, 255, 255);
      }
    
      .border{
        content:url("././sources/border.png");
        width: 600px;
        top: 10px;
        left: 0px;
        position: fixed;
        transition: width 0.2s;
      }
    
      .border:hover{
        width: 620px;
      }
    
      .robo-hand{
        content:url("././sources/hand robo.png");
        width: 600px;
        margin-top: -38%;
        transition: width 1s, transform 1s;
      }
    
      .robo-hand-mobile{
        content:url("././sources/hand robo.png");
        width: 300px;
        
        z-index: -1;
      }
    
    
      .robo-hand:hover{
        width: 620px;
        rotate: 5%;
        transform: rotate(3deg);
      }
    
      .content1{
        text-align: center;
        margin-left: 37%;
      }
    
      .learnmore{
        background-color: #7C2AE8;
        border: rgba(255, 255, 255, 0);
        border-radius: 35px;
        height: auto;
        width: auto;
        color: white;
        font-size: 20px;
        font-style: bold;
        transition: background-color 0.5s, color 0.5s;
        padding: 25px;
        text-decoration:none;
      }
    
      .learnmore:hover{
        background-color: #ac77f1;
        color: black;
      }
    
      .outer-container-between{
        padding-top: 2%;
        padding-bottom: 2%;
      }
    
      .outer-container-first{
        padding-top: 10%;
        padding-bottom: 2%;
      }
    
      .outer-container{
        padding-top: 9%;
        padding-bottom: 20%;
      }
    
      .mobile_nav_bar{
        background-color: #7c2ae870;
      }
      
      .navbar-spacing{
        padding: 50px;
      }
    
      .mobile_text{
        font-size: 15px;
      }
    
      .mobile_learnmore{
        background-color: #7C2AE8;
        border: rgba(255, 255, 255, 0);
        border-radius: 35px;
        color: white;
        font-size: 10px;
        font-style: bold;
        transition: background-color 0.5s, color 0.5s;
        padding: 12px;
        text-decoration:none;
        text-align: center;
    
      }
    
    
      .mobile_learnmore:hover{
        background-color: #7c2ae870;
        color: black;
      }
    
      .countdown{
        top:0%;
        background-color: #8D68DB;
        width:100%;
        color:white;
        padding: 15px;
        position: fixed;
      }
    
      .countdownmobile{
        background-color: rgba(0, 0, 0, 0.993);
        color:white;
        padding: 10px;
        font-size: 12px;
      }

      .mdittheme{
        content:url("././sources/mdit\ theme.png");
        width: 450px;
      }

      .instats{
        content:url("././sources/instats.png");
        width: 450px;
      }

      .jpm{
        content:url("././sources/jpm.png");
        width: 450px;
      }

      .logouitm{
        content:url("././sources/uitm.png");
        margin-top: 50px;
        width: 400px;
      }

      .container-grid {
        margin-left: -120px;
        display: inline-grid;
        grid-template-rows: auto auto ;
        grid-template-columns: auto auto;
        grid-gap: 20px;
      }

      .container-grid-event {
        display: inline-grid;
        margin-left: -60px;
        grid-template-columns: auto auto auto auto auto auto auto ;

      }

      .grid1{
        font-weight: bold;
        text-shadow: 1px 1px 5px  #ffffff;
        margin-left: 80px;
        color: #000000;
        transition: color 0.2s;
      }

      .grid2{
        font-weight: bold;
        text-shadow: 1px 1px 2px #000000;
        padding-left: 50px;
        color : #ffc729;
        transition: color 0.2s;
      }
      .grid3{
        font-weight: bold;
        text-shadow: 1px 1px 2px #000000;
        padding-left: 20px;
        color : #76c9f2;
        transition: color 0.2s;
      }
      .grid4{
        font-weight: bold;
        text-shadow: 1px 1px 2px #000000;
        padding-left: 40px;
        color : #fd9d67;
        transition: color 0.2s;
      }
      .grid5{
        font-weight: bold;
        text-shadow: 1px 1px 2px #000000;
        padding-left: 80px;
        color : #88f561;
        transition: color 0.2s;
      }
      .grid6{
        font-weight: bold;
        text-shadow: 1px 1px 2px #000000;
        padding-left: 74px;
        color : #f6b4d3;
        transition: color 0.2s;
      }
      .grid7{
        font-weight: bold;
        text-shadow: 1px 1px 10px #ffffff;
        padding-left: 75px;
        color : #000000;
        transition: color 0.2s;
      }

      .grid1:hover{color: white;}
      .grid2:hover{color: white;}
      .grid3:hover{color: white;}
      .grid4:hover{color: white;}
      .grid5:hover{color: white;}
      .grid6:hover{color: white;}
      .grid7:hover{color: white;}

      .dosm{
        color:white;
        text-decoration: none;
        transition: color 0.2s;
      }

      .dosm:hover{
        color:rgb(124, 124, 124);
      }

      .uitm{
        color:white;
        text-decoration: none;
        transition: color 0.2s;
      }

      .uitm:hover{
        color:rgb(124, 124, 124);
      }

      .event-banner{
        content:url("././sources/horizontal\ banner.png");
        width: 1300px;
      }

      .event-banner-mobile{
        content:url("././sources/vertical\ banner.png");
        width: 300px;
      }

      .phone{
        content:url("././sources/phonemdit.png");
        width: 300px;
      }
      
      .logo-checklist{
        content:url("././sources/logos/checklist.png");
        width: 40px;
      }
      .logo-baloon{
        content:url("././sources/logos/baloon.png");
        width: 40px;
      }
      .logo-board{
        content:url("././sources/logos/board.png");
        width: 40px;
      }
      .logo-book{
        content:url("././sources/logos/book.png");
        width: 40px;
      }
      .logo-pie{
        content:url("././sources/logos/pie.png");
        width: 40px;
      }
      .logo-scissor{
        content:url("././sources/logos/scissor.png");
        width: 40px;
      }
      .logo-speaker{
        content:url("././sources/logos/speaker.png");
        width: 40px;
      }

      @keyframes background-anim{
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }


